 # Unity 產生的資料夾
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# Visual Studio / Rider
.vscode/
.idea/
*.csproj
*.sln
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.vs

# macOS & Windows 系統檔案
.DS_Store
Thumbs.db

# Git 本身
.git/
.gitignore


# Firebase ios/android用 要使用在重新下載sdk
MiniGame/Assets/Firebase/Plugins/x86_64/*.bundle
MiniGame/Assets/Firebase/Plugins/x86_64/*.so
